
<div style="color:#ccc; padding:20px 0px;"><strong>Themes</strong></div>

<ul class="list-unstyled">

    <li><button class="btn btn-default-unstyled" ng-model="template" ng-click="template.url='views/themes/gtk.html'">Gtk+</button></li>
    <li><button class="btn btn-default-unstyled" ng-model="template" ng-click="template.url='views/themes/shell.html'">Shell</button> </li>
    <li><button class="btn btn-default-unstyled" ng-model="template" ng-click="template.url='views/themes/icons.html'">Icons</button></li>
    <li><button class="btn btn-default-unstyled" ng-model="template" ng-click="template.url='views/themes/wallpapers.html'">Wallpapers</button></li>

</ul>
