<div class="btn-group">
    <button onclick="win.reload();" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-repeat"></span></button>
    <button ng-model="template" class="btn btn-default btn-sm" ng-click="template.url= 'views/start.html'">Start Here</button>
    <button ng-model="template" class="btn btn-default btn-sm" ng-click="template.url= 'views/updates.html'">
    Updates <span class="label label-primary">0</span></button>
    <button ng-model="template" class="btn btn-default btn-sm" ng-click="template.url= 'views/tweaks.html'">Tweaks</button>
    <button ng-model="template" class="btn btn-default btn-sm" ng-click="template.url= 'views/online.html'">Go Online!</button>

</div>
