.col-centered{
    float: none;
    margin: 0 auto;
}



/** Unstyled BUTTON **/
.btn-default-unstyled {
  background:none;
  border:none;
  color:#ccc;
  text-shadow:none;
}
.btn-default-unstyled:hover,
.btn-default-unstyled:focus,
.btn-default-unstyled:active,
.btn-default-unstyled.active,
.open .dropdown-toggle.btn-default-unstyled {
  background:none;
  border:none;
  color:#ccc;
  outline:none;
}
.btn-default-unstyled:active,
.btn-default-unstyled.active,
.open .dropdown-toggle.btn-default-unstyled {
  background-image: none;
  outline:none;
}
.btn-default-unstyled.disabled,
.btn-default-unstyled[disabled],
fieldset[disabled] .btn-default-unstyled,
.btn-default-unstyled.disabled:hover,
.btn-default-unstyled[disabled]:hover,
fieldset[disabled] .btn-default-unstyled:hover,
.btn-default-unstyled.disabled:focus,
.btn-default-unstyled[disabled]:focus,
fieldset[disabled] .btn-default-unstyled:focus,
.btn-default-unstyled.disabled:active,
.btn-default-unstyled[disabled]:active,
fieldset[disabled] .btn-default-unstyled:active,
.btn-default-unstyled.disabled.active,
.btn-default-unstyled[disabled].active,
fieldset[disabled] .btn-default-unstyled.active {
  background:none;
  border:none;
}
.btn-default-unstyled .badge {
  background:none;
  border:none;
}