<style>
    .list-group-item {
    background:none;        
        }
    hr {
    border:none;
    height:1px; 
        background:#555;
    }
</style>

<div style="color:#ccc; padding:0 0 0 40px;">
    <div ng-controller="GtkThemesListCtrl">
        <div id="tmpl-view">


            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-2">
                        <span style="color:#555; font-weight:bold;">Help</span>
                    </div>


                    <div class="col-lg-10">
                        <span style="color:#555; font-size:1.2em;">Help</span>
                        <ul class="list-group">
                            <li class="list-group-item">
                                File issues and new themes you want us to include at
                                <a class="btn btn-primary btn-sm" href="" ng-click="launchDefaultBrowser('https://github.com/alexis-diavatis/Girlfriend-App')">
                                    <i class="fa fa-github-alt"></i>&nbsp;GitHub</a>
                            </li>

                        </ul>
                        <hr />
                        <span style="color:#555; font-size:1.2em;">License</span>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Girlfriend is released under
                                <span class="label label-primary">Do What the Fuck You Want to Public License</span>
                                <span class="label label-danger">wtfpl.net</span>&nbsp;&&nbsp;
                                <span class="label label-primary">GNU GENERAL PUBLIC LICENSE v3</span>
                            </li>

                        </ul>
                        <hr />
                        <span style="color:#555; font-size:1.2em;">Copyrights</span>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Copyright 2014 The Girlfriend Developers. All rights reserved.
                                <br />This program comes with ABSOLUTELY NO WARRANTY.
                            </li>
                            <li class="list-group-item">
                                This project is part of
                                <a href="" ng-click="launchDefaultBrowser('http://worldofgnome.org')">woGue</a>
                            </li>

                        </ul>


                    </div>
                    <!-- col-lg-10 -->

                </div>
                <!-- row -->

            </div>



        </div>
    </div>

</div>
