<div ng-controller="StartCtrl">
<div style="color:#ccc; padding:0 0 0 40px; width:470px">
    <h1 style="font-weight:lighter;">Girlfriend App</h1>
    <p>
        A client for Open Desktops Theme Services
    </p>
    __________________________________________________
    <p>&nbsp;</p>
    <p>
        Welcome to the first version of
        <strong>Girlfriend</strong>App. In this version it works as a standalone application.
    </p>
    <p>Go to
        <a href="" ng-model="template" class="" ng-click="template.url= 'views/updates.html'">update</a>
        panel and install your first theme bundle. Then you are ready to customize Gnome.
    </p>

    <p>
        Before you start using it, is important to read the
        <a class="btn btn-primary btn-sm" href="" ng-model="template" class="" ng-click="template.url= 'views/help.html'">instructions</a>
    </p>
    <p>
        <strong>Enjoy!</strong>
    </p>

</div>
<p>Client Version: {{version.0.app}}!</p>
<p>Bundle Version: {{version.0.bundle}}!</p>    
</div>
